<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests">
	
  <test name="ChromeBrowser">
	  <parameter name="browserName" value="chrome"></parameter>
	  <classes>
			<class name="grid3.ParallelExecutionThroughXML" />
		</classes>
  </test> <!-- ParallelExecution -->
  
  <test name="Firefox Browser">
	  <parameter name="browserName" value="firefox"></parameter>
	  <classes>
			<class name="grid3.ParallelExecutionThroughXML" />
		</classes>
  </test> <!-- ParallelExecution -->
  
</suite> <!-- Suite -->
